{% extends 'common/base.html' %}

{% block title %}Yapıtaşı CRM Daire Listesi{% endblock title %}

{% block content %}

    <h1>Yeni Daire Oluştur</h1>

    <h3>{% if project. %}Updating {{unit}}{% else %}Add a new unit{% endif %}</h3>

    <h2>{{   unit.project }}</h2>

    <form id="category_form" method="post">{% csrf_token %}

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
    <div class="form-group">
        <table class="table table-striped table-hover">


                {% for field in form.visible_fields %}

                    <tr>

                        <td style="width:160px">  <label class="control-label" for="focusedInput">{{ field.help_text }}</label></td>
                        <td>{{ field }}</td>
                        <td>{{ field.errors }}</td>
                    </tr>
                {% endfor %}

        </table>
    </div>
        <input type="submit" name="submit" class="btn btn-default" value="Tamam"/>
    </form>
    {% if success %}
    <div class="alert alert-dismissable alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Değişiklik kaydedildi!</strong>
</div>
   {% endif %}

{% endblock content %}