{% extends 'common/base.html' %}

{% block title %}Yapıtaşı CRM {{ project.name }}Proje Bilgileri{% endblock title %}

{% block content %}

    <h1> {{ project.name }} Projesi</h1>

        <a class="btn btn-success" href="{% url 'edit_project' project.id %}">
				<i class="glyphicon glyphicon-edit"></i> Projeyi Düzenle
			</a>

        <a class="btn btn-success" href="{% url 'add_unit' project.id %}">
				<i class="glyphicon glyphicon-home"></i> Daire Ekle
			</a>
     <table class="table table-striped table-hover">
    <tr>
        <th>Proje Adı</th>
        <td>{{ project.name }}</td>
    </tr>
     <tr>
        <th>Lokasyon</th>
        <td>{{  project.city }}</td>
    </tr>
            <tr>
        <th>Yıl</th>
        <td>{{  project.year }}</td>
    </tr>
    </table>



    <br>
    <h2>Daire Listesi</h2>
    {% if units %}
    <table class="table table-striped table-hover">
    <tr>
        <th style="width:10px" title="Sil"></th>
        <th style="width:10px" title="Düzenle"></th>
        <th>Blok</th>
        <th>Kat</th>
        <th>Daire No</th>
        <th>Alan (m2)</th>
        <th>Yön</th>
    </tr>

    {% load endless %}
    {% paginate units %}


    {% for unit in units %}
    <tr>
    <td><a href="{% url 'delete_unit' unit.id %}"><img src="{{ STATIC_URL }}icons/delete.png" alt="Sil"></a></td>
    <td><a href="{% url 'edit_unit' unit.id %}"><img src="{{ STATIC_URL }}icons/edit.png" alt="Düzenle"></a></td>
    <td>{{  unit.block }}</td>
    <td>{{  unit.floor }}</td>
    <td>{{  unit.unit_no }}</td>
    <td>{{  unit.area }}</td>
    <td>{{  unit.direction }}</td>
    </tr>
    {% empty %}

    {% endfor %}
    {% show_pages %}



    </table>
        <div class="well well-sm">
            Toplam daire sayısı: {{ project.unit_set.count }}
        </div>
         {% else %}
    <li>Bu projeye henüz daire eklenmemiş.</li>
    {% endif %}


{% endblock %}